    @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

    :root {
        --main-color: #ff69b4; /* Hot pink */
        --bg-color: #ffffff; /* White */
        --border-color: #ff69b4; /* Hot pink */
        --text-color: #000000; /* Black */
        --highlight-color: #ff1493; /* Deep pink */
    }

    body {
        font-family: 'Press Start 2P', cursive;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: uppercase;
        transition: .2s linear;
        background: var(--bg-color) url('/images/bg.gif') no-repeat center center fixed;
        background-size: cover;
    }
    

    
    /* Media Queries */
    @media (max-width: 991px) {
        html {
            font-size: 55%;
        }
        .header {
            padding: 1.5rem 2rem;
        }
        section {
            padding: 2rem;
        }
    }

    @media (max-width: 768px) {
        #menu-btn {
            display: inline-block;
        }
        .header .navbar {
            position: absolute;
            top: 100%;
            right: -100%;
            background: var(--bg-color);
            width: 30rem;
            height: calc(100vh - 9.5rem);
            transition: right .2s;
        }
        .header .navbar.active {
            right: 0;
        }
        .header .navbar a {
            display: block;
            margin: 1.5rem;
            padding: .5rem;
            font-size: 1.5rem;
        }
        .home {
            background-position: left;
            justify-content: center;
            text-align: center;
        }
        .home .content h3 {
            font-size: 4rem;
        }
        .home .content p {
            font-size: 1.2rem;
        }
    }

    @media (max-width: 450px) {
        html {
            font-size: 50%;
        }
    }
